@media only screen and (max-width: 808px) {
  #searchbox {
    width: 90%;
    h1 {
      display: block;
    }
    #mainsearch {
      width: 90%;
      left: 0;
    }
  }
.results {
      width: 90%;
    }
  nav {
    position: fixed;
    width: 90%;
    left: 0;
  }

  .latestResults {
    display: none;
  }
}

@media only screen and (max-width: 822px) {
  .searchbox {
    h1 {
      font-size: 1.6rem;
    }
  }
  nav {
    a {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 0.5rem;
    }
  }

  .tagSearchCall {
    width: 5%;
  }
}


@media only screen and (max-width: 588px) {
  .searchbox {
    width: 100%;
    h1 {
      width: 60%;
      font-size: 1.2rem;
      padding-bottom: 2em;
      text-align: center;
      display: inline;
      position: unset;
    }
    .results {
      width: 95%;

    }
    #mainsearch {
      width: 95%;
      height: 4em;
    }
  }
  nav {
    bottom: 0;
    a {
      left: 0 !important;
    }
  }
}

@media only screen and (min-width: 1075px) {
  .tagSearchCall {
    font-size: 0.06rem;
  }

  nav {
    a {
      h1 {
        font-size: 1.5rem;
        top: 0;
      }
    }
  }
}